---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate } = Astro.props;
---

<html lang="es" data-theme="holoseduca">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="min-h-screen flex flex-col">
		<Header />
		<main class="flex-grow container mx-auto px-4 py-16">
			<article>
				<div class="prose prose-lg dark:prose-invert mx-auto px-4 max-w-4xl">
					<div class="text-center mb-8">
						<div class="text-base-content/70 mb-2">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="italic mt-1">
										Última actualización: <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="mb-0 text-4xl font-bold">{title}</h1>
						<div class="divider"></div>
					</div>
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
